# MSA 2023 Phase 2 - Part 1

In [1]:
!pip show scikit-learn

Name: scikit-learn
Version: 1.2.2
Summary: A set of python modules for machine learning and data mining
Home-page: http://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: C:\Users\JackM\anaconda3\envs\datascienv\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by:

In [1]:
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Find all variables and understand them

In [9]:
#Reading in CSV file
MarketData = pd.read_csv('market_segmentation.csv')

#printing first 10 records
MarketData.head(10)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C

In [11]:
#Finding number of records in file
MarketData.shape

(8068, 11)

In [6]:
#Finding number of null values
MarketData.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [48]:
#finding gender split
NumMale = MarketData.Gender.value_counts().Male
ProportionMale = NumMale/MarketData.shape[0]

print("The proportion of males in the dataset is " + str(ProportionMale))

The proportion of males in the dataset is 0.5474714923153198

In [28]:
#Finding Mean and standard deviation of age
MeanAge = MarketData.Age.mean()
AgeStd = MarketData.Age.std()
print("Mean age is " + str(MeanAge) + "\nStandard deviation of age is " + str(AgeStd))

Mean age is 43.46690629647992
Standard deviation of age is 16.71169631872121

## 2. Clean data

In [3]:
#

## 3. Visualise data

In [4]:
#

## 4. Identify correlated variables

In [5]:
#

## 5. Summary