# MSA 2023 Phase 2 - Part 2

In [79]:
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Load and split preprocessed data

In [80]:
ExamData = pd.read_csv('PreprocessedExamData.csv')
ExamData = ExamData.drop('Unnamed: 0', axis=1)
ExamData.head()

,Is_Male,ParentEduc,StandardLunch,TestPrep,PracticeSport,WklyStudyHours,MathScore,ReadingScore,WritingScore,EthnicGroup_group A,EthnicGroup_group B,EthnicGroup_group C,EthnicGroup_group D,EthnicGroup_group E
0,0,2,1,0.5,1,1,0.69,0.90,0.88,0,0,1,0,0
1,0,5,1,0.0,1,0,0.87,0.93,0.91,0,1,0,0,0
2,1,3,0,0.0,0,1,0.45,0.56,0.42,1,0,0,0,0
3,1,2,1,0.0,1,1,0.76,0.78,0.75,0,0,1,0,0
4,0,3,1,0.0,2,1,0.73,0.84,0.79,0,1,0,0,0

The data consists of the following   
boolean values (1 for yes, 0 for no) for: Is_Male, Ever_Married, Graduated, all of the professions, and the values of 'Var_1'.
The last two are from one-hot vectors meaning for each type only one value is true, all of these names are self describing, apart from Var_1 which I do not understand    
As well as this there are numerical values which have been normalised for: Age, Work_Experience and Family_Size    
The market segments are a categorical value from A through D    
The spending score is ordinal data, with 1 being low, 2 being average, and 3 being high

In [81]:
from sklearn.model_selection import train_test_split


#y = ExamData['ReadingScore']
#X = ExamData.drop(['ReadingScore'], axis=1)

y = ExamData[['MathScore','ReadingScore','WritingScore']]
X = ExamData.drop(['MathScore','ReadingScore','WritingScore'], axis=1)

# Create an 70-30 train-test split on the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

## 2. Choose an algorithm

I have decided to use linear regression for this regression model as it does not need the complexity of a logistic regression as most relatinships should be linear, and the model needs to find a numerical output not a categorical output

The model works by making a best fit line for the correlation between a given datapoint and the desired output value(s), then combining these together to create a prediction of the desired value given the other values

## 3. Train and test a model

In [82]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model = model.fit(X_train, y_train)

## 4. Evaluate the model

In [83]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print(r2)

0.295639697177544

In [84]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(rmse)

0.12824772120938513

In [85]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
print(mae)

0.1041179449306006

## 5. Summary